@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto:ital,wght@1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p, a {
  color: white;
}
p {
  max-width: 30%;
  padding: 20px;
}

h1 {
  color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 2s infinite;
}
@keyframes fadeIn {
    0%, 100% {
        color: rgb(0, 191, 255);
    }
    50% {
        color: rgb(254, 0, 0)
    }
}